.button {
    padding: 20px;
}

.disabled {
    background-color: grey;
}

.secondary {
    background-color: lightblue;
}

.default {
    background-color: green;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}

.color{
    background-color: #cc0000;
}